/scribblings/*.html
/scribblings/manual-fonts.css
/scribblings/manual-racket.css
/scribblings/manual-racket.js
/scribblings/manual-style.css
/scribblings/racket.css
/scribblings/scribble-common.js
/scribblings/scribble-style.css
/scribblings/scribble.css
/scribblings/*~
*~*
*.dep
*.zo
*compiled*
.DS_Store
*.ods
*.xml